.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .details {
    flex-direction: row;
  }
}
.descriptionWrap {
  width: 100%;
}
.imgThumb {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.img {
  width: 100%;
  object-fit: cover;
}

.active {
  color: var(--light-color);
}
.buttonsList {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.active > button {
  background-color: var(--accent-primary-color);
  color: var(--light-color);
  border: none;
  outline: none;
  transition: background-color 250ms ease-in-out;
}
.active > button:hover {
  border: none;
  outline: none;
  color: var(--light-color);
  background-color: var(--accent-primary-color);
}
