.moviesList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movieLink {
  color: var(--light-secondary-color);
  display: flex;
  gap: 16px;
  align-items: center;
  transition: color 250ms ease-in-out;
}
.movieLink:hover,
.movieLink:focus-within {
  color: var(--light-color);
}
.moviesIcon {
  width: 18px;
}
